/*Подключение шрифтов */
@font-face {
    font-family: "Gilroy";
    src: url('fonts/gilroyextrabold-webfont.woff2') format('woff2'),
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url('fonts/gilroylight-webfont.woff2') format('woff2'),
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url('fonts/opensans-light-webfont.woff2') format('woff2'),
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url('fonts/opensans-regular-webfont.woff2') format('woff2'),
    font-weight: 400;
    font-style: normal;

}

body {
  margin: 0;
  padding: 0;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 15px;
  color: #000000;
  line-height: 24px;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #000000;
}

/* header */
.main-header {
background-color: #f7e296;
}

.logo-header img:hover {
opacity: 0.6;
}

.logo-header img:active {
opacity: 0.3;
}

.search {
font-size: 15px;
font-family: "Open Sans";
color: rgba(0, 0, 0, 0.302);
line-height: 30px;
background-color: #f7e296;
}

.search-form input{
background-color: #f7e296;
border: none;
}

/* меню */

.user-navigation {
font-family: OpenSans;
font-size: 15px;
font-weight: 300;
line-height: 2;
letter-spacing: 0.2px;
}

.user-navigation-list a:hover {
color: rgba(0, 0, 0, 0.6);
}

.user-navigation-list a:active {
color: rgba(0, 0, 0, 0.3)	
}


.user-navigation-list li, 
.main-navigation li {
list-style: none; 
}

.site-navigation li {
text-transform: uppercase;
}

.site-navigation a:hover {
color: rgba(0, 0, 0, 0.6);
}

.site-navigation a:active {
color: rgba(0, 0, 0, 0.3);
}

.catalog-navigation li {
font-family: OpenSans;
font-size: 15px;
font-weight: 300;
line-height: 2.4;
letter-spacing: 0.2px;
list-style: none;
text-transform: none;
}


/*about us, contacts */

.about-us h2 {
font-family: Gilroy;
font-size: 47.5px;
font-weight: 800;
line-height: 1;
letter-spacing: 0.5px;

}

.main-contacts h2 {
font-family: Gilroy;
font-size: 47.5px;
font-weight: 800;
line-height: 1;
letter-spacing: 0.5px;

}

.main-text {
font-size: 15px;
font-weight: 300;
line-height: 2;
letter-spacing: normal;
}

.transport-companies li {
font-family: Gilroy;
font-size: 16px;
font-weight: 800;
line-height: 2;
list-style: none;
}
.internal-link {
font-family: Gilroy;
font-size: 18.5px;
font-weight: 800;
line-height: 1.27;
letter-spacing: 3.7px;
background-color: #f0c52e;
}


/*filters*/

.filters {
background-color: #dbdbdb;	
}

.filters-text, .sorting {
font-family: Gilroy;
font-size: 17.5px;
font-weight: 800;
line-height: 1.4;
letter-spacing: 3.5px;
text-transform: uppercase;
}

.filters-form {
background-color: #eeeeee;
}

.sorting-list {
font-family: OpenSans;
font-size: 14px;
font-stretch: normal;
line-height: 1.25;
text-transform: none;
}

.sorting-list {
list-style: none;
}


/*catalog */
.catalog-item {
list-style: none;
}

.catalog-item h2 {
font-family: Gilroy;
font-size: 18px;
font-weight: 800;
line-height: 1.33;
letter-spacing: 0.2px;
}

.price {
font-family: Gilroy;
font-size: 16px;
font-weight: 300;
line-height: 1.5;
letter-spacing: 0.2px;
color: #dbdbdb;
}


/*footer*/
.main-footer{
background-color:#464646; 
}

.logo-footer img:hover {
opacity: 0.6;
}

.logo-footer img:active {
opacity: 0.3;
}

.main-footer a{
color: #ffffff;
}

.footer-navigation li{
list-style: none;
}

.footer-contacts {
font-family: OpenSans;
font-size: 15px;
font-weight: 300;
line-height: 2;
letter-spacing: normal;
color: #ffffff;
}

.social-button li {
list-style: none;
}

.user-navigation-footer a {
color: rgba(255, 255, 255, 0.7);
}

.user-navigation-footer a:active {
color: rgba(255, 255, 255, 0.3);
}

.user-navigation-footer a:hover {
color: #ffffff;
}

.site-navigation-footer a:hover{
color: rgba(255, 255, 255, 0.6);
}

.site-navigation-footer a:active {
color: rgba(255, 255, 255, 0.3)
}

.user-navigation-footer a{
color: rgba(255, 255, 255, 0.7);
}


